---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Nosotros from "@/components/Nosotros.astro";
import Soluciones from "@/components/Soluciones.astro";
import Proyectos from "@/components/Proyectos.astro";
import Contacto from "@/components/Contacto.astro";
---a

<Layout title="Prestige - Publicitaria - Soluciones Digitales">
  <div>
    <Hero />
    <Soluciones />
    <Proyectos/>
    <Nosotros />
    <Contacto />
  </div>
</Layout>
