---
import Image from "astro/components/Image.astro";
import prestigeLogo from "../../public/icon.svg";
---
<a href="/#" class="-m-1.5 p-1.5">
    <Image src={prestigeLogo} alt="Logo de Prestige" />
</a>